<div class="contanier">
  <div class="text-center">
    <h2 class="my-3">本当に退会しますか？</h2>
    <p class="my-3">
      退会すると、イベントの参加ができなくなります。<br>
　　  これまでの履歴が確認できません。
    </p>
    <div class="my-3">
      <p class="mr-3">
        <%= link_to "退会しない", root_path, class: "btn btn-primary" %>
        <span class="ml-3"><%= link_to "退会する", guests_withdraw_path(@guest), class: "btn btn-danger",  method: :patch, "data-confirm" => "本当に退会しますか" %></span>
      </p>
    </div>
  </div>
</div>