<div class="container">
  <table class="table">
    <thaed>
      <tr>
        <th>名前</th>
        <th></th>
      </tr>
    </thaed>
    <tbody>
      <% @hosts.each do |host| %>
      <tr>
        <td><%= host.name %></td>
        <td><%= link_to "詳細へ", host_path(host.id) %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>